*{
    margin: 0;
    padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

body{
	margin: 0%;
}

html{
	overflow: hidden;
}

:root{
    --fondo: #181818;
}

.point{
	letter-spacing: 5px;
	font-weight: 600;
	font-size: 40px;
	color: #c7c7c7;
	background-color: #1c1c1c;
}
	
header{
	max-width: 250px;
	background: #1c1c1c;
	height: 300vh;
}

header nav a{
	text-decoration: none;
	padding: 15px;
	padding-right: 147px;
	color: white;
	background-color: #353535;
}

.search{
	text-decoration: none;
	padding: 15px;
	padding-right: 137px;
	color: #c7c7c7;
	background-color: #1c1c1c;
}

.library{
	text-decoration: none;
	padding: 15px;
	padding-right: 100px;
	color: #c7c7c7;
	background-color: #1c1c1c;
}

header nav a:hover{
	color: white;	
}

header nav i{
	margin-right: 5%;
	padding: 5px;
	font-size: 25px;
}

.options{
	margin-left: 7%;
	padding-top: 60px;
	margin-bottom: 7%;
}

#createlist{
	margin-right: 5%;
	padding: 11px;
	background-color: white;
}

#likedsong{
	margin-right: 5%;
	padding: 10px;
	background-color: aqua;
}

.options i{
	border-radius: 3px;
}

.options a{
	color: #c7c7c7;
	text-decoration: none;
	padding-right: 75px;
	padding-bottom: 10px;
	padding-top: 10px;
}

.options a:hover{
	color: white;
}

.options i:hover{
	background-color: white;
}

hr{
	height: 0px;
	width: 85%;
	background-color: #c7c7c7;
}

.songs p:first-of-type{
	padding-top: 8%;
}

.songs p{
	color: #c7c7c7;
	margin-left: 6%;
	padding-left: 5px;
	padding-right: 10px;
	padding-bottom: 7%;
}

.songs p:hover{
	color: white;
	cursor: pointer;
	transition: 0.5s;
}

h1{
	text-align: left;
	margin-left: 5%;
}

.container{
    width: 100%;
    height: 80%;
    display: flex;
}

.container .header{
    width: 200%;
	height: 100vh;
}

.container section{
    width: 100%;
    height: 100vh;
    color: #ffffff;
    background-color: var(--fondo);
    overflow-y: scroll;
    padding-bottom: 5rem;
}

.nav-container{
	margin-top: 2%;
}

.upgrade{
    text-decoration: none; 
    width: 30%;
    margin-left: 55%;
    padding-top: 10px;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 10px;
    border: 1px solid white;
    border-radius: 50px;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 14px;
}

.upgrade:hover{
	transform: translateY(-8px) scale(1.02) translateZ(0px);
    background-color: white;
    color: black;
}

.upgrade1{
	background-color: #131313;
    text-decoration: none; 
    padding: 1%;
    width: 11%;
    border-radius: 5px; 
    margin-left: 5%;
    border-color: #131313;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.container section header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 80%;
    background-color: #505053;
    z-index: 2;
}

.container section header .suscribcion .mejora_cuenta .upgrade:hover{
    transform: scale(1.1);
    background-color: white;
}

.circulo, .nombre{
    margin-right: 5px;
}

.container section .contenedor_degradado, .container section .contenedor_contenido{
    padding: var(--padding);
}
.container section .contenedor_degradado{
    background: linear-gradient(#505053,#181818);
    width: 100%;
    margin-top: 61px;
}
.container section .contenedor_degradado .banner{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.container section .contenedor_degradado .banner .cancion{
    position: relative;
    display: inline-block;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    margin: 1em;
    width: 200px;
    height: 200px;
    cursor: pointer;
}
.container section .contenedor_degradado .banner .cancion figure{
    position: relative;
    width: 100%;
    height: 100%;
    transition: var(--efecto);
}
.container section .contenedor_degradado .banner .cancion figure img{
    width: 100%;
    height: 100%;
}

.container .contenedor_contenido .titulos{
    text-align: start;
    width: 100%;
    margin-bottom: 20px;
}
.container section .contenedor_contenido .generos,
.container section .contenedor_contenido .podcast{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    flex-grow: 1;
    margin-bottom: 20px;
}
.container section .contenedor_contenido .generos .cards{
    transition: var(--efecto);
    flex-basis: calc((100% / 3) - 20px);
    height: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #282828;
    cursor: pointer;
    border-radius: var(--radius);
    margin: 10px;
}
.container section .contenedor_contenido .generos .cards .card_imagen{
    width: 80px;
    height: 80px;
}
.container section .contenedor_contenido .generos .cards .card_imagen img{
    width: 100%;
    height: 100%;
    border-top-left-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
}
.container section .contenedor_contenido .generos .cards .card_text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: calc(100% - 80px);
}
.container section .contenedor_contenido .generos .cards .card_text img{
    opacity: 0;
}
.container section .contenedor_contenido .generos .cards:hover{
    background: linear-gradient(#666666, #474747);
}
.container section .contenedor_contenido .generos .cards:hover img{
    opacity: 1;
    transition: var(--efecto);
}
.container section .contenedor_contenido .podcast .card_podcast{
    transition: var(--efecto);
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-basis: calc((100% / 4 ) - 20px);
    margin: 10px;
    background-color: #181818;
    padding: 1em;
    cursor: pointer;
    border-radius: var(--radius);
}
.container section .contenedor_contenido .podcast .card_podcast:hover{
    background-color: #282828;
}
.container section .contenedor_contenido .podcast .card_podcast img{
    width: 100%;
    height: 100%;
}
.container section .contenedor_contenido .podcast .card_podcast:hover img{
    box-shadow: 5px 4px 10px hsl(0, 0%, 11%);
}
.container section .contenedor_contenido .podcast .card_podcast h4{
    margin-top: 1em;
}
.container footer{
    background: var(--fondo);
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: var(--padding);
    border-top: 1px solid #282828;
    color: #ffffff;
}
.container footer .controles{
    display: flex;
    align-items: center;
    margin: auto;
    padding-bottom: .5em;
}
.container footer .controles img{
    margin: 0 .5em;
}
.container footer .progreso{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container footer .progreso .barra_progreso{
    width: 40%;
    height: 5px;
    background-color: #282828;
    border-radius: var(--radius);
    margin: 0 1em;
}